* {
    margin: 0;
    padding: 0;
    height: max-content;
}

@media only screen and (mix-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

@media only screen and (mix-width: 768px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

.section1 {
    /* border: 1px solid blue; */
    background: #161D26;
}

ul {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 50px;
    font-size: 20px;
    margin-top: -50px;
    margin-right: 100px;
    margin-left: 900px;
    color: white;
    font-family: time;
}

.brandname {
    /* border: 1px solid blue; */
    margin-left: 300px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.section2 {
    /* border: 1px solid red; */
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #212833;
}

.name {
    /* border: 2px solid red; */
    margin-bottom: 160px;
    margin-left: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.location {
    /* border: 2px solid blue; */
    margin-bottom: 100px;
    font-size: 30px;
    border-left: 2px solid grey;
    margin-right: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#twitter {
    /* border: 2px solid green; */
    height: 25px;
}

#linkedin {
    /* border: 1px solid red; */
    height: 25px;
}

#gmail {
    /* border: 1px solid red; */
    height: 25px;
}

.slim {
    /* border: 1px solid green; */
    font-size: 70px;
}

.developer {
    /* border: 1px solid blue; */
    font-size: 30px;
}

.dev {
    padding: 20px;
}

.section3 {
    height: 1300px;
    background: #161D26;
    /* border: 2px solid red; */
}

.manu {
    /* border: 1px solid red; */
    margin-top: -350px;
    height: 700px;
}

.know {
    display: flex;
    justify-content: center;
}

.personal {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.born {
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}

.experience {
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}

.date {
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}

.description {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

#project {
    height: 30px;
}

#happy {
    height: 30px;
}

#Award {
    height: 30px;
}

.music {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    /* border: 1px solid red; */
    margin-top: 50px;
    font-weight: bolder;
    padding-top: 20px;
    /* margin-bottom: 60px; */
}

.about {
    /* border: 1px solid blue; */
    text-align: center;
    margin-top: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-left: -1100px;
}

.icons {
    border-right: 2px solid grey;
    margin-left: 240px;
}

.resume {
    /* border: 1px solid red; */
    margin-right: 600px;
    margin-top: 20px;
}

.emmanuel {
    /* border: 3px solid blue; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    font-weight: bolder;
}

.melancholic {
    /* border: 3px solid grey; */
    font-weight: 100px;
    color: white;
    margin-top: 100px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.view {
    border: 2px solid grey;
    margin-top: 260px;
    border-radius: 5px;
    background: #161D26;
    color: white;
    height: 30px;
    width: 100px;
}

.section4 {
    height: 990px;
    background: #212833;
    /* border: 1px solid red; */
}

#my {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    /* border: 1px solid red; */
    margin-left: 250px;
    /* margin-top: 50px; */
    color: white;
    padding-top: 50px;
}

.banter {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}

.hobby {
    /* border-right: 2px solid grey; */
    margin-left: 270px;
    margin-bottom: 20px;
}

#music {
    height: 30px;
}

.posses {
    margin-right: 400px;
    /* border: 1px solid green; */
    margin-top: 50px;
    color: white;
}

.music {
    border-right: 2px solid grey;
}

.personally {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: 100px; */
    color: white;
}

.education {
    border-left: 1px solid grey;
    text-align: center;
    margin-left: 377px;
    margin-right: 1200px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.independent {
    /* border: 1px solid green; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.secretarial {
    /* border: 1px solid blue; */
    font-weight: bold;
}

.skills {
    color: grey;
    font-weight: bold;
}

.download {
    background: #212833;
    color: white;
    height: 35px;
    border: 2px solid grey;
    border-radius: 5px;
    margin-top: 20px;
}

.section5 {
    height: 950px;
    /* border: 1px solid red; */
    background: #161D26;
}

.zorro {
    /* border: 1px solid red; */
    margin-left: 260px;
    margin-top: -45px;
    font-size: 70px;
    color: white;
}

.collection {
    border-left: 2px solid grey;
    padding-top: 100px;
    margin-left: 380px;
}

#collection {
    /* border: 1px solid red; */
    color: white;
    padding-left: 30px;
}

.parent {
    display: flex;
    /* border: 1px solid green; */
    padding-top: 20px;
    justify-content: space-between;
    margin-left: 220px;
    color: white;
}

#insurance {
    height: 200px;
}

.website {
    margin-right: 1250px;
    color: white;
}

#text {
    color: grey;
}

.dowload {
    background: #212833;
    color: white;
    height: 35px;
    border: 2px solid grey;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 650px;
    width: 100px;
}

.footer {
    height: 60px;
    border: 1px solid red;
    background: #212833;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    color: white;
}

#cons {
    color: gold;
    border-right: 2px solid grey;
    padding: 10px;
}