* {
    margin: 0;
    padding: 0;
    height: max-content;
}

.section1 {
    border: 1px solid blue;
    background: #161D26;
}

ul {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 50px;
    font-size: 20px;
    margin-top: -50px;
    margin-right: 100px;
    margin-left: 900px;
    color: white;
}

.brandname {
    /* border: 1px solid blue; */
    margin-left: 300px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
}